mainmenu "Nyy Kernel configuration"

menu "Sanitizers"

config DISABLE_ASSERTS
  bool "Disable asserts in code"
  default n

config UBSAN
  bool "Enable UBSAN"
  default n

config PM_CHECK
  bool "Enable PM checks on free" 
  default n

endmenu

source "$(ROOT)/kernel/Kconfig"
